/* Variables */
$primary-color: #3498db;
$secondary-color: #2980b9;
$hover-color: #1abc9c;
$text-color: #fff;
$margin: 5px;
$transition-duration: 0.5s;
$transition-timing-function: ease;

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $text-color;
  position: relative;
  overflow: hidden;
}

.section1 {
  background-color: $primary-color;
}

.section2 {
  background-color: $secondary-color;
}

.section3 {
  background-color: lighten($primary-color, 10%);
}

.section::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background-color: inherit;
  z-index: -1;
}

.contentDiv {
  flex: 1;
  height: 100%;
  position: relative;
  text-align: center;
  background-color: darken($primary-color, 10%);
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function,
    padding $transition-duration $transition-timing-function,
    opacity $transition-duration $transition-timing-function;
}

.contentDiv h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.intoText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: small;
  box-sizing: border-box;
  text-align: center;
}

.container .contentDiv {
  opacity: 1;
}

.container .contentDiv:hover {
  opacity: 1;
  padding: 17.5%;
}

.container:hover .contentDiv:not(:hover) {
  opacity: 0.5;
  font-size: small;
}

.container .contentDiv:hover > h3 {
  top: 15%;
  transition: top $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function,
    padding $transition-duration $transition-timing-function,
    opacity $transition-duration $transition-timing-function;
}

@media (max-width: 768px) {
  .contentDiv {
    opacity: 1;
  }
}

.cardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.839);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity $transition-duration $transition-timing-function;
}

.cardOverlay.show {
  opacity: 1;
}

.card {
  height: 60%;
  width: 70%;
  max-width: 1200px;
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

// ------------------------------------------------------------------------------ //

.sliderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.slider {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform $transition-duration $transition-timing-function;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity $transition-duration $transition-timing-function;
}

.slide.active {
  opacity: 1;
}

.sliderButton {
  background: none;
  border: none;
  color: $primary-color;
  font-size: 2rem;
  cursor: pointer;
  transition: color $transition-duration $transition-timing-function;
}

.sliderButton:hover {
  color: $hover-color;
}

.cardNavigation button {
  padding: 0;
  border: none;
  background: none;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  transition: background-color $transition-duration $transition-timing-function;
}

.cardNavigation button:hover {
  background-color: $secondary-color;
}

.arrow {
  background: none;
  border: none;
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
  cursor: pointer;
  user-select: none;
  position: absolute;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  height: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right-arrow {
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.up-arrow {
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.down-arrow {
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.arrow:hover {
  color: $hover-color;
}
