$primary-color: #0f3b4e; /* Ryde Dark Blue */
$secondary-color: #74afac; /* Ryde Blue */
$color-white: #fbf5e5; /* Ryde White */
$color-red: #ce653f; /* Ryde Red */
$color-yellow: #d3462a; /* Ryde Yellow */
$transition-duration: 6s;
$transition-timing-function: ease;

@font-face {
  font-family: "Effra";
  src: url("./fonts/Effra_Trial_Bd.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("./fonts/Effra_Trial_Rg.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("./fonts/Effra_Trial_Lt.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading-bar {
  width: 80%;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  position: relative;
}

.loading-progress {
  height: 100%;
  background: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: 0;
  width: 0;
  transition: width 0.3s ease-in-out;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  z-index: 0;
  width: 40%;
  height: auto;
  filter: drop-shadow(0 0 15px $color-white);
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: grid;
  z-index: 1;
}

.section {
  display: flex;
  background-color: rgba(0, 0, 0, 0.461);
}

.section::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background-color: inherit;
  z-index: -1;
  backdrop-filter: blur(5px);
}

//////////////////////////////////////////////////////////////////////////////

.contentDiv {
  flex: 1;
  height: 100%;
  position: relative;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease, padding 0.5s ease,
    opacity 0.5s ease;
  overflow: hidden;
}

.teaser-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.teaser-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.561)
  );
  transition: opacity 0.3s ease;
}

.contentDiv:hover .teaser-image {
  opacity: 1;
}

.contentDiv h3 {
  font-family: "Effra-Bold";
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -15%);
  margin: 0;
  transition: top 0.3s ease;
}

.card-title {
  font-family: "Effra", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.introText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
  box-sizing: border-box;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.introText p {
  font-size: 0.8rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: 300;
}

.container .contentDiv {
  opacity: 1;
}

.container .contentDiv:hover {
  padding: 5%;
}

.container:hover .contentDiv:not(:hover) {
  opacity: 0.5;
}

.contentDiv:hover > h3 {
  top: 10%;
}

.container .contentDiv:hover > .introText {
  opacity: 1;
}

@media (max-width: 768px) {
  .contentDiv {
    opacity: 1;
  }

  .introText {
    font-size: smaller;
    padding: 5%;
  }

  .container .contentDiv:hover {
    padding: 10%;
  }

  .container .contentDiv:not(.selected) {
    opacity: 0.5;
  }

  .container .contentDiv.selected {
    opacity: 1;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////

.cardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.839);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cardOverlay.show {
  opacity: 1;
}

.cardNavigation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1001;
}

.cardNavigation button {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: $color-white;
  font-size: 2vw;
  cursor: pointer;
  user-select: none;
  z-index: 1002;
  pointer-events: all;
  transition: background-color 0.3s ease;
}

.left-arrow {
  height: 100%;
  position: absolute;
  left: 0;
}

.right-arrow {
  height: 100%;
  position: absolute;
  right: 0;
}

.up-arrow {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.down-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

///////////////////////////////////////////////////////////////////////////////////////////

.card {
  width: 80vw;
  height: 80vh;
  position: relative;
  background: transparent;
  pointer-events: none;
}

.card * {
  pointer-events: all;
}

.card-header {
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  color: $color-white;
  text-align: center;
  z-index: 1;
}

//////////////////////////////////////////////////////////////////////////////////

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease;
  backface-visibility: hidden;
}

.slide p {
  color: $color-white;
  line-height: 1.6;
}

.slide.active {
  opacity: 1;
}

.slide:not(.active) {
  opacity: 0;
}

//////////////////////////////////////
.slide1 {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.slide1-image-div {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.slide1-image {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 15px;
}

.slide1-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}

.slide1-title h1 {
  color: $color-yellow;
  font-size: 2rem;
}

.slide1-text {
  max-width: 600px;
}

.slide1-text p {
  font-size: 1.1rem;
  color: $color-white;
}

.slide1-tagline p {
  text-align: center;
  font-size: 1.5rem;
  color: $color-yellow;
}

//////////////////////////////////////

.slide2 {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.slide2-text p {
  color: $color-white;
}

//////////////////////////////////////

.slide10 {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.slide10-image-div {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  border: 5px solid $color-white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.slide10-image {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 12px;
}

.slide10-tags {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}

.slide10-tags p {
  color: $color-white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slide10-tags span {
  color: $color-yellow;
}

//////////////////////////////////////

.slide11 {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.slide11-text p {
  color: $color-white;
}

.slide11-text p span {
  color: $color-yellow;
}

//////////////////////////////////////

.slide12 {
  background-color: $primary-color;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.slide12 h1 {
  text-align: center;
  color: $color-yellow;
  margin: 0;
}

.slide12-sec1,
.slide12-sec2,
.slide12-sec3 {
  box-sizing: border-box;
  text-align: start;
}

//////////////////////////////////////

.slide22 {
  background-color: $primary-color;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.slide22 h1 {
  text-align: center;
  color: $color-yellow;
  margin: 0;
}

//////////////////////////////////////

.slide23 {
  background-color: $primary-color;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.slide23 h1 {
  text-align: center;
  color: $color-yellow;
  margin: 0;
}

//////////////////////////////////////

.slide24 {
  background-color: $primary-color;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.slide24 h1 {
  text-align: center;
  color: $color-yellow;
  margin: 0;
}
